* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: #E0E0E2;
}

a {
    text-decoration: none;
}

main {
    height: 85vh;
}

.global-container {
    height: 100%;
    display: flex;
    place-content: center;
    color: #0db8de;
    margin-top: 50px;
}

form {
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.login-form {
    width: 380px;
    height: 450px;
    margin: 20px;
    background: #1a2226 !important;
    border-radius: 10px !important;
}

input[type="text"],
input[type="password"] {
    border-radius: 10px;
    color: #1c1917;
}
/* 
input[type="text"]:focus,
input[type="password"]:focus {
    background: #ffffff;
    color: #1c1917;
} */

.card-title {
    font-weight: 900;
}

.btn {
    width: 345px;
    background: #0db8de !important;
    font-size: 14px;
    transform: translateY(10px);
    border-radius: 10px !important;
}

.signup {
    text-align: center;
    padding-top: 25px;
}

footer {
    margin-top: 90px;
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background: #cbd5e1;
}

::-webkit-scrollbar-thumb {
    background:#7dd3fc; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #0e7490; 
}